<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% load account %}
<!-- {% user_display user %} -->

<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
</head>
<body>
 <div class="container mt-5">
      <h2 class="text-center alert alert-danger">Login Page</h2>
      <form action="" method="post">
           {% csrf_token %}
           {{form.as_p}}
        <input type="submit" class="btn btn-warning" value="submit">
        <a class="btn btn-warning" href="/">Home</a>
      </form>
 </div>
 <div>     
     {% if user.is_authenticated %}
     <p>Welcome, {{ user.username }} </p>
     {% else %}
     <br>
     <div style="text-align: center;" >
          <p >Please sign in with one of your existing third party accounts. Or, sign up for a 127.0.0.1:8000 account and sign in below:</p>
          <a href="{% provider_login_url 'google' %}">Login with Google</a>
          <!-- <a href="{% provider_login_url 'facebook' method='js_sdk' %}">Facebook</a> -->
          <a href="{% provider_login_url 'facebook' method='oauth2' %}">Facebook OAuth2</a>

          <a href="{% provider_login_url 'github' %}">Git Hub</a>
         

     </div>
     {% endif %}
 </div>
 <script src="{% static 'enroll/js/jquery.js' %}"></script>
 <script src="{% static 'enroll/js/popper.js' %}"></script>
 <script src="{% static 'enroll/js/bootstrap.js' %}"></script>
</body>
</html>



